.map-responsive-container{
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1;

  .inner-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
  }
}