.forgot-password{
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;

    .forgot-password-container{
        width: 100%;
        max-width: 500px;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 8px;
        background-color: var(--secondary-bg-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;

        >h2{
            font-size: 20px;
            font-weight: 600;
            color: var(--button-danger);
            text-align: center;
        }

        .from-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;

            >p{
                width: 100%;
                font-size: 14px;
                color: var(--primary-text-color);
                text-align: center;
                text-wrap: wrap;
                white-space: wrap;

                >span{
                    color: var(--accent-color);
                }
            }

            .set-otp-button{
                width: 100%;
                padding: 12px 0;
                border-radius: 8px;
                background-color: var(--button-danger);
                color: var(--text-color);
                font-size: 16px;
                border: none;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
                color: var(--primary-text-color);

                &:hover{
                    background-color: var(--button-danger-hover);
                }
            }

            .email-error{
                color: var(--button-danger);
                font-size: 12px;
                margin-top: -27px;
                text-align: start;
                padding-left: 5px;
                font-weight: 500;
            }
        }
    }
}

