.password-input-tag{
    width: 100%;
    height: fit-content;

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &.__flex-row{
            flex-direction: row;
            align-items: center;
        }

        label {
            display: block;
            color: var(--secondary-text-color);
            text-transform: capitalize;
            text-wrap: nowrap;

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }

        >p{
            color: var(--button-danger);
            font-size: 14px;
        }

        .input-field{
            border: 1px solid var(--order-color);
            background-color: var(--primary-bg-color);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            padding: 2px 10px;
            box-sizing: border-box;

            input {
                width: 100%;
                padding: 12px;
                border: none;
                background: transparent;
                color: var(--primary-text-color);
                border-radius: 5px;
                
                &:focus {
                    outline: none;
                    border: none;
                }
                
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 1000px var(--primary-bg-color) inset !important;
                    box-shadow: 0 0 0 1000px var(--primary-bg-color) inset !important;
                    -webkit-text-fill-color: var(--primary-text-color) !important;
                }
    
                &::placeholder{
                    color: var(--secondary-text-color);
                }
            }

            &:focus-within{
                outline: none;
                border-color: var(--accent-color);
                box-shadow: 0 0 10px 2px var(--accent-color);
            }
    
            &.__readonly{
                &:focus-within{
                    border-color: var(--order-color);
                    box-shadow: none;
                }
            }   
            
            .fa{
                color: var(--secondary-text-color);
            }
        }
        
        .value-error{border-color: var( --button-danger);}
    }
}