.app{
  width: 100%;
  padding: 0 8vw;
  margin: auto;
  padding-bottom: 20px;
  background-color: var(--secondary-bg-color);
}

.app2{
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 1500px) {
  .app2{width: 90%;}
}